<div class="p-fluid p-grid   p-my-3">
    <div class="p-col-12 p-md-4 p-lg-3 sidebar p-px-3">
        <div class="p-d-flex p-jc-between p-ai-center">
            <h3>Order List</h3>
            <i class="pi pi-list " style="font-size: 1.2rem"></i>
        </div>
        <div class="mergeButton">
            <div class=" p-fluid p-grid p-text-center p-p-1">
                <span class="p-col-4" (click)="selectedOrder='New'"
                    [ngClass]="{'active':selectedOrder==='New'}">New</span>
                <span class="p-col-4" (click)="selectedOrder='Prepare'"
                    [ngClass]="{'active':selectedOrder==='Prepare'}">Preparing</span>
                <span class="p-col-4" (click)="selectedOrder='Deliver'"
                    [ngClass]="{'active':selectedOrder==='Deliver'}">Delivery</span>
            </div>
        </div>
        <div class="p-mt-3">
            <ng-template ngFor let-summary [ngForOf]="orderSummary" let-first="first">
                <div class="p-px-3 p-py-1 p-d-flex  p-jc-between p-ai-center order-summary-item p-mb-2"
                    [ngClass]="first?'activeList':''">
                    <div>
                        <h5>{{summary.title}}</h5>
                        <i class="pi pi-clock text-muted p-pr-1"></i>
                        <span class="text-muted">{{summary.subTitle}}</span>
                    </div>
                    <h3>{{summary.price}}</h3>
                </div>
                <div *ngIf="first" class="p-px-3 p-d-md-none">
                    <res-order-list></res-order-list>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="p-d-none p-d-md-block p-col-12 p-md-8 p-lg-8 p-px-5"
        style="background-color: white;border-radius: 10px;">
        <res-order-list></res-order-list>
    </div>
</div>