<p-table #dt [value]="products" styleClass="p-datatable-sm" sortMode="multiple" [rowHover]="true">
    <ng-template pTemplate="caption">
        <div class="table-header">
            Item Management
            <span style="float: right;vertical-align: middle;">
                <button pButton  label="Add" icon="pi pi-plus-circle" class="tool-button  p-button-warning"></button>
                <button pButton  label="Unavailable" icon="pi pi-lock" class="tool-button p-button-warning"></button>
                <button pButton  label="Available" icon="pi pi-unlock" class="tool-button p-button-warning"></button>
                <button pButton  label="Edit" icon="pi pi-pencil" class="tool-button  p-button-warning"></button>
                <button pButton  label="Delete" icon="pi pi-trash" class="tool-button p-button-danger"></button>
                
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr >
            <th style="width: 3rem"></th>
            <th>Image</th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
            </th>
            <th pSortableColumn="cuisine">Cuisine <p-sortIcon field="cuisine"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="timing">Timing <p-sortIcon field="timing"></p-sortIcon>
            </th>
            <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <!-- <th>Name</th> -->
            <!-- <th>Category</th>
            <th>Cuisine</th>
            <th>Price</th>
            <th>Timing</th>
            <th>Status</th> -->
        </tr>
        <tr>
            <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th></th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')"
                    placeholder="Search by Name" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'category', 'contains')"
                    placeholder="Search by Category" class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'cuisine', 'contains')"
                    placeholder="Search by Cuisine" class="p-column-filter">

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <p-multiSelect [options]="statusFilter" placeholder="All" (onChange)="handleFilterStatus($event)"
                    styleClass="p-column-filter" optionLabel="label">
                </p-multiSelect>
            </th>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td><img [src]="product.image" [alt]="product.name" width="100"
                    [ngClass]="product.status==='off'?'disable-row':''" class="p-shadow-4 image-icon" /></td>
            <td [ngClass]="product.status==='off'?'disable-row':''">{{product.name}}</td>
            <td [ngClass]="product.status==='off'?'disable-row':''">{{product.category}}</td>
            <td [ngClass]="product.status==='off'?'disable-row':''" [ngClass]="product.status==='off'?'disable-row':''">
                {{product.cuisine}}</td>
            <td [ngClass]="product.status==='off'?'disable-row':''">{{product.price | currency:'INR'}}</td>
            <td [ngClass]="product.status==='off'?'disable-row':''">
                <div class="p-tag p-tag-warning">Breakfast</div>
            </td>
            <td>
                <div style="min-width: 100px;">
                    <p-selectButton [options]="statusOptions" [ngModel]="product.status"></p-selectButton>
                </div>
            </td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template> -->

</p-table>