/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f8f9fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
    --secondary-color:  #9199a9;
}

// * {
//     box-sizing: border-box;
//     scrollbar-width: thin;
//     scrollbar-color: black;
//   }

  